body{
    padding: 0;
    margin: 0;
    height: 100vh; 
}

.clear-color{
    color: #e2dfdf;
}

.dark-color{
   color: #191818; 
}

.back-filter{
    background-color: #d1d1d170;
}

#bloc-meteo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 17%;
}

#container{
    visibility: visible;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#city{
   margin-top: 0;     
   cursor: pointer;
}

#city:hover + #message{
    visibility: visible;
}

#message{
    background-color: black;
    padding: 5px;
    color: white;
    margin-bottom: 0;
    border-radius: 30px;
    visibility: hidden;
}

.hidden{
    display: none;
}

.visible{
    display: block;
}

.ciel-clair{
    background-image: url("./Images/ciel_degage.jpg");
    background-size: cover;
    overflow: hidden;
}

.quelques-nuages{
    background-image: url("./Images/peu_de_nuage.jpg");
    background-size: cover;
    overflow: hidden;
}

.nuages-epars{
    background-image: url("./Images/nuage_epars.jpg");
    background-size: cover;
    overflow: hidden;
}

.nuages-​​​​brises{
    background-image: url("./Images/nuage_fragmente.jpg");
    background-size: cover;
    overflow: hidden;
}

.averse{
    background-image: url("./Images/averse.jpg");
    background-size: cover;
    overflow: hidden;
}

.pluie{
    background-image: url("./Images/pluie.jpg");
    background-size: cover;
    overflow: hidden;
}

.neige{
    background-image: url("./Images/neige.jpg");
    background-size: cover;
    overflow: hidden;
}

.orage{
    background-image: url("./Images/orage.jpg");
    background-size: cover;
    overflow: hidden;
}

.brume{
    background-image: url("./Images/brume.jpg");
    background-size: cover;
    overflow: hidden;
}

.icon-glob{
    position: fixed;
    right: 10px;
    top: 20px;
    cursor: pointer;
}

.icon-glob:hover .list-lang{
    display: block;
}

.select{
    font-weight: bold;
}